/* >=1200
992 - 1199
768 - 991
567 - 768
460 - 576
414 - 460
375 - 414
320 - 375
*/
@media screen and (max-width: 1440px) {
    .advertising .photo .left {
        margin-right: 50px;
    }
    footer .line {
        margin-left: 128px;
    }
}
@media screen and (max-width: 1409px) {
    .box2 .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box2 .item1 {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1199px) {
    .top_container .main_logo {
        padding-bottom: 70px;
    }
    .top_container .main_logo .block2 .main_logo_photo{
        max-width: 600px;
        margin-top: 50px;
    }
    .box1 .text {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .box1 p {
        margin-bottom: 10px;
    }
    .box2 .item1 {
        margin: 0px 0px 20px 0px;
    }
    .advertising .photo {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .advertising .photo .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .designers .women {
        flex-direction: column;
        align-items: center;
    }
    .designers .women .text_hoto {
        text-align: center;
    }
    .designers .women .text_hoto h4 {
        margin: 20px 0px 10px 0px;
    }
    .designers .women .text_hoto .img1 {
        margin: 0px 0px 30px 0px;
    }
    .designers .women .text_hoto p {
        margin: 0;
    }
    .designers .women .text_hoto .scob1 {
        top: 3px;
        left: 5px;
    }
    .designers .women .text_hoto .scob2 {
        top: 98px;
        left: 524px;
    }
    .designers .women .krug {
        margin-left: 0px
    }
    .designers .women .text_hoto .strel1 {
        top: 90px;
        left: 278px;
    }
    .designers .women .text_hoto .strel2 {
        top: 90px;
        left: 332px;
    }
}
@media screen and (max-width: 1049px) {
    .top_container .main_logo {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top_container .main_logo .block2 .str {
        top: 0px;
        left: 300px;
    }
    .top_container .main_logo .block2 .main_logo_photo {
        max-width: 100%;
    }
}
@media screen and (max-width: 887px) {
    .top_container .top {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 767px) {
    .top_container .top {
        padding: 40px 50px 0;
    }
    .top_container .top .menu a {
        margin: 20px 5px;
    }
    .top_container .main_logo .block1 h1 {
        margin-top: 0;
        width: 100%;
    }
    .top_container .main_logo .block2 .main_logo_photo {
        max-width: 100%;
    }
    .top_container .main_logo .block2 .str {
        top: 0px;
        left: 300px;
    }
    .companis .name img {
        width: 14%;
    }
    .box2 {
        display: flex;
        justify-content: center;
    }
    .women .text_hoto .text .p1{
        max-width: 575px;
    }
    .designers .women .text_hoto .scob1 {
        top: 0px;
        left: 30px;
    }
    .designers .women .text_hoto .scob2 {
        top: 130px;
        left: 360px;
    }
    .designers .women .text_hoto .strel1 {
        top: 90px;
        left: 255px;
    }
    .designers .women .text_hoto .strel2 {
        top: 90px;
        left: 305px;
    }
    footer .top {
        flex-direction: column;
        align-items: center;
    }
    footer .top h2 {
        margin-bottom: 20px;
    }
    .line {
        width: 70%;
    }
}
@media screen and (max-width: 607px) {
    .top_container .top .menu {
        display: none;
    }
    .top_container .main_logo {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .top_container .main_logo .block1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .top_container .main_logo .block2 .str {
        top: 20px;
        left: 200px;
    }
    .box1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .box1 .text {
        display: flex;
        flex-direction: column;
    }
    .box1 p {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .box2 .items .item1,
    .box2 .items .item2 {
        max-width: 100%;
    }
    .box2 .items img {
        max-width: 100%;
    }
    .box2 .items .box_lorem {
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
    }
    .box2 .items .box_lorem h3 {
        margin: 0;
    }
    .box2 .items .box_lorem p {
        margin: 10px 0px 20px 0px;
    }
    .box2 .items .down_but {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .box2 .items .down_but .buts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box2 .items .down_but .buts .but1{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .box2 .items .down_but .buts .but2 {
        margin-left: 0px;
    }
    .box2 .items .down_but p {
        margin-top: 20px;
        margin-right: 0px;
    }
    .advertising .photo .right img{
        width: 400px;
    }
    .designers .women .hoto img{
        width: 400px;
    }
    .designers .women .text_hoto .text .p1  {
        width: 400px;
    }
    .designers .women .text_hoto .scob1 {
        top: 3px;
        left: 1px;
    }
    .designers .women .text_hoto .scob2 {
        top: 165px;
        left: 393px;
    }
    .designers .women .text_hoto .strel1 {
        top: 93px;
        left: 170px;
    }
    .designers .women .text_hoto .strel2 {
        top: 93px;
        left: 218px;
    }
    footer .top {
        text-align: center;
    }
    .line {
        width: 60%;
    }
    footer .down {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer .down .donw_center {
        margin: 50px 0;
    }
}
@media screen and (max-width: 476px) {
    .top_container .top {
        padding: 40px 50px 0;
    }
    .top_container .main_logo .block1 h1  {
        width: 90%;
    }
    .top_container .main_logo .block1 p {
        width: 90%;
    }
    .top_container .main_logo .block2 .str {
        top: 29px;
        left: 170px;
    }
    .companis .name img {
        width: 15%;
    }
    .numbers .num .num1,
    .numbers .num .num2,
    .numbers .num .num3 {
        width: 70px;
    }
    .numbers .num h1 {
        font-size: 31px;
    }
    .numbers .num p {
        text-align: center;
        font-size: 16px;
    }
    .advertising .photo {
        margin-top: 50px;
    }
    .advertising .photo .left h1 {
        width: 340px;
    }
    .advertising .photo .right img{
        width:  300px;
    }
    .designers .women .hoto img {
        width: 300px;
    }
    .designers .women .text_hoto .text .p1 {
        width: 300px;
    }
    .designers .women .text_hoto .scob2 {
        top: 257px;
        left: 218px;
    }
    .designers .women .text_hoto .strel1 {
        top: 90px;
        left: 115px;
    }
    .designers .women .text_hoto .strel2 {
        top: 90px;
        left: 168px;
    }
    footer form div {
        width: 340px;
    }
    footer .line {
        margin-left: 30px;
        width: 80%;
    }
}
@media screen and (max-width: 413px) {
    .box2 .items .box_lorem {
        margin: 0;
    }
    .box2 .items {
        width: 100%;
    }
    .box2 .items .box_lorem h3 {
        font-size: 25px;
    }
    .top_container .main_logo .block2 .str {
        top: 29px;
        left: 140px;
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 375px) {
    .box2 .items .down_but .buts .but1,
    .box2 .items .down_but .buts .but2{
        width: 60%;
    }
    .popular_product .box1 h1 { 
        font-size: 40px;
    }
}
